@font-face{font-family:FontAwesome;src:url("./fontawesome-webfont.woff2");font-weight:400;font-style:normal;}.fa{display:inline-block;font:14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

.fa-phone:before {
    content: "\f095";
}
.fa-long-arrow-right:before {
    content: "\f178";
}
.fa-arrow-up-long, .fa-long-arrow-up:before{
   content: "\f176";
}
.fa-long-arrow-left:before {
    content: "\f177";
}
.fa-whatsapp:before {
    content: "\f232";
}
.fa-envelope:before {
    content: "\f0e0";
}
.fa-map-marker:before {
    content: "\f041";
}
.fa-minus:before, .fa-subtract:before {
    content: "\f068";
}
.fa-plus:before {
    content: "\f067";
}
.fa-linkedin:before {
    content: "\f08c";
}