@font-face {
  font-family: 'chivo';
  src: url(../css/chivo.woff2)format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body{
  font-family: 'chivo';
  background-image: url('../img/portfolio-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
p{
  font-size: 16px;
  line-height: 28px;
}
.header-bg{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px;
  background: rgb(255, 255, 255);
  border-radius: 12px;
}
.nav-link.active{
  background-color: #ff014f !important;
}
.nav-link{
  color: #000;
  font-weight: 600;
}
.res-btn{
  color: #000;
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  border-radius: 12px;
}
.nav-link:hover,.res-btn:hover{
  background-color: #ff014f !important;
  color:#fff;
}
.hed1{
  font-size: 52px;
  font-weight: 600;
  color:#fff;
  line-height: 1.82em;
}
.small-h1{
  font-size:24px ;
  color: #fff;
}
#typed-output{
  color:#ff014f;
}
.cv-btn{
background-color: #ff014f;
color: #fff;
padding:10px 20px;
border-radius: 25px;
text-decoration: none;
border:none;
}
.arrow-icon {
  font-size: 24px;
  transition: transform 0.3s ease;
  color: #fff;
}

.cv-btn:hover > .arrow-icon {
  margin-left: 10px;
  transform: scale(1.2);
}
h2{
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.hed3{
  font-size: 18px;
  font-weight: 600;
  color:#ff014f;
}
.fa-ul{
  color: #fff;
  line-height: 32px;
  margin-bottom: 40px;
}
.serv-box{
  position: relative;
  padding: 20px 30px;
  background-color: #f4f4f4;
  border-radius: 20px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  box-shadow: 2px 2px #ff014f;
  transition: 0.3s;
}
.serv-box:hover {
  background-color: #ff014f;
  color: #fff;
  box-shadow: 4px 4px 15px rgba(255, 1, 79, 0.6);
}
.serv-box:hover i{
  color:#ff014f ;
  background-color: #fff;
}
.serv-box:hover h3,.serv-box:hover .serv-anch{
  color:#fff;
}

.ser-head{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.serv-box i{
  font-size: 24px;
  color:#fff;
  background-color: #ff014f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-right: 10px;
  text-align: center;
}
.serv-box h3{
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.serv-anch{
  color: #000;
  font-family: 16px;
  margin-top: 15px;
  text-decoration: none;
}
#scrollTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size:24px;
  border: none;
  outline: none;
  background-color: #ff014f;
  color: white;
  cursor: pointer;
  padding: 0px 16px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

/**chatty**/
.sticky1 {
  position: fixed;
}

.sticky1 i{
  font-size: 30px;
  color: #ffffff;
  display: inline-block;
}
.chatty {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  padding:6px 12px;
  text-align: center;
  position: fixed;
  left: 2%;
  top: 88%;
  z-index: 9999;
  display: inline-block;
}
.chatty1 {
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding:6px 12px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  left: 2%;
  top: 97%;
  z-index: 9999;
  display: none;
}
.form-section{
  margin: auto;
  background-color: #3030309e;
  padding:40px 30px;
  border-radius: 25px;
}
.exper-ser{
  background-color: #3030309e;
  padding:20px;
}
#msg{
  color:rgb(158, 2, 2);
}
#sendnow{
  background-color: #ff014f;
  color:#fff;
  padding:10px 45px;
  border:none;
  font-size: 16px;
  width:100%;
}
#subloader{
  display: none;
  background-color: #ff014f;
  color: #fff;
  padding:10px 45px;
}
input{
  margin-bottom: 15px;
}
.fa-refresh{
  color:#fff;
  font-size: 18px;
}
@media (max-width: 768px) {
.chatty1 {
 display: inline-block !important;
}
.nav-link{
 margin-bottom: 15px;
}
.hed1 {
  font-size: 32px;
}
.ser-head {
  justify-content: start;
}
.serv-box {
  padding:15px;
}
}
.tab-left{
    padding-left: 70px;
}
.serv-tab .nav-link.active{
    color:#fff;
    border-bottom: 2px solid #ff014f;
}
.serv-tab .nav-link{
    color:#ffffff;
    font-size: 24px;
    font-weight: 600;
    padding: 30px;
    margin-bottom: 30px;
    line-height:1.4em;
}
.fa-minus,.fa-plus{
  font-size: 24px;
  color:#ffffff;
  font-weight: 700;
}
.tab-right h3{
    color:#ffffff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .04em;
    padding-bottom: 20px;
    margin: 0px 0px 25px;
    line-height: 1.2;
    border-bottom: 2px solid #ff014f;
}
.tab-right p{
color:#ffffff;
margin: 0px 0px 15px;
line-height: 1.81;
font-size: 20px;
}
@media  (max-width: 768px) {
    .tab-left{
        padding-left: 0;
    }
    .serv-tab .nav-link{
        font-size: 20px;
    }
    .tab-right h3{
        font-size: 22px;
    }
}
@media (max-width: 767px) {
  .work-section .work-sub {
    flex-direction: column;
  }
  .work-section .hed5-block {
    margin-bottom: 15px !important;
  }
}
.work-section {
  position: relative;
  z-index: 1;
}

.work-section .work-sub {
  display: flex;
}

.work-section .work-sub .hed5-block {
  flex: 1;
  min-height: 400px;
  height: 500px;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
  margin: 0 8px;
  border-radius: 5px;
}

.work-section .sub-sect1 {
  background: url(../img/ui-ux-design.webp) center/cover no-repeat;
}
.work-section .sub-sect2 {
  background: url(../img/responsive-design.webp) center/cover no-repeat;
}
.work-section .sub-sect3 {
  background: url(../img/wordpress.webp) center/cover no-repeat;
}
.work-section .sub-sect4 {
  background: url(../img/onpage-seo.webp) center/cover no-repeat;
}
.work-section .sub-sect5 {
  background: url(../img/tools.webp) center/cover no-repeat;
}

.work-section .hed5-block::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0.4;
}
.work-section .hed5-block:hover::before {
  opacity: 1;
}
.work-section .content-area1 {
  position: absolute;
  transform: rotate(-90deg);
  width: 290px;
  left: -80px;
  bottom: 162px;
  transition: all 0.4s;
  opacity: 1;
  z-index: 2;
}
.content-area1 h5 {
  color: #fff;
}
.work-section .content-area {
  position: absolute;
  z-index: 1;
  padding: 0 24px 24px;
  bottom: 0;
  left: -100%;
  opacity: 0;
  transition: all 0.4s;
}
.work-section .content-area h6,
.work-section .content-area a {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  text-transform: capitalize;
  transition: all 0.4s;
}
.work-section .content-area p {
  font-size: 16px;
  color: #ffffff !important;
  transition: all 0.4s;
}
.work-section .work-sub > .hed5-block:hover {
  flex: 3;
}
.work-section .work-sub > .hed5-block:hover > .content-area1 {
  display: none !important;
}
.work-section .work-sub > .hed5-block:hover > .content-area {
  opacity: 1;
  left: 0;
  transition: all 0.4s ease-in-out;
}
